.container
    .row
        .col-sm-8.postsContainer
        .col-sm-4
            .panel.panel-default.sideNav
                .panel-heading
                    h3.panel-title Nawigacja
                .panel-body
                    .row
                        .col-sm-12 Link nawigacji
                    .row
                        .col-sm-12 Link nawigacji
                    .row
                        .col-sm-12 Link nawigacji

    .row
        .col-sm-12
            p &nbsp;