#main
  .main-logo
    text-align center
  .icon-regina-logo-and-text
    font-size 10em
  .companyDescription
    text-align left
    h1
      line-height 0.3

  .banner
    margin-bottom 2em
    margin-top 1em
    img
      max-height 100px