#main
  .main-logo
    margin-bottom 20px
    text-align center
  .icon-regina-logo-and-text
    font-size 10em
  .companyDescription
    h1
      line-height 0.3
  .advantages
    ul
      list-style none
    li
      position relative
      .glyphicon
        color $secondary
        position absolute
        top 5px
        left -30px
        font-size 0.7em


  .banner
    margin-bottom 2em
    margin-top 1em
    img
      max-height 100px