#main
    //.row
    //    #carouselWidget.col-sm-12
    .container
        .row
            .col-sm-6
                .row
                    .col-sm-12.main-logo
                        span.icon-regina-logo-and-text
                    .col-sm-12.companyDescription
                        h1 Księgowość
                        h4 Najwyższej jakości
                        p Posiadamy doświadczenie w obsłudze osób fizycznych rozliczających się w formie podmiotów jednoosobowych, spółek osób fizycznych oraz podmiotów prawnych, reprezentujących zarówno działalność produkcyjną jak i handlową.
                    .col-sm-12.advantages
                        ul
                            li
                                .glyphicon.glyphicon-star
                                span Profesjonale usługi księgowe i kadrowe
                            li
                                .glyphicon.glyphicon-star
                                span Konkurencyjne ceny – atrakcyjne rabaty
                            li
                                .glyphicon.glyphicon-star
                                span Pewny partner w biznesie – biuro jest członkiem Stowarzyszenia Księgowych w Polsce
                            li
                                .glyphicon.glyphicon-star
                                span Gwarancja bezpieczeństwa ewidencji danych
                            li
                                .glyphicon.glyphicon-star
                                span Bieżąca pomoc z zakresu prawa podatkowego i prawa pracy
            .col-sm-6
                .row
                    //#newsWidget.col-sm-12
                .row
                    #promotionsWidget.col-sm-12
                //.row
                //    .col-sm-12
                //        .panel.panel-default
                //            .panel-heading
                //                h3.panel-title Cennik
                //            .panel-body
                //                .row
                //                    .col-sm-12 Kliknij&nbsp;
                //                        strong
                //                            a(href='assets/files/cennik.pdf', target='_blank') tutaj
                //                        |&nbsp;aby pobrać cennik.
                //    //#calendarWidget.col-sm-6
        .row
            .col-sm-3.text-left.banner
                a(href='http://www.iksiegowosc24.pl/biura-rachunkowe/lodzkie/lodz/kompleksowa-ksiegowosc-regina-kowalska-stall', target='_blank', title='Biuro polecane przez iKsiegowosc24')
                    .thumbnail
                        img(src='http://www.iksiegowosc24.pl/img/baneryComarch/biuroPolecane/250x100.png', alt='Biuro polecane przez iKsiegowosc24')
            .col-sm-3.text-center.banner
                a(href='http://www.ibard24.pl/', target='_blank', title='Gwarancja bezpieczeństwa danych z iBard24')
                    .thumbnail
                        img(src='http://www.iksiegowosc24.pl/img/baneryComarch/ibard/250x100.png', alt='Gwarancja bezpieczeństwa danych z iBard24')
            .col-sm-3.text-center.banner
                a(href='http://www.iksiegowosc24.pl/biura-rachunkowe/lodzkie/lodz/kompleksowa-ksiegowosc-regina-kowalska-stall', target='_blank', title='Fakturuj bezpłatnie z iFaktury24')
                    .thumbnail
                        img(src='http://www.iksiegowosc24.pl/img/baneryComarch/ifaktury/250x100.png', alt='Fakturuj bezpłatnie z iFaktury24')
            .col-sm-3.text-right.banner
                .thumbnail
                    img(src='assets/photos/uzywamComarch.png', alt='Używam Comarch')
