h1 Calendar
.panel.panel-default
    .panel-heading
        h3.panel-title Aktualnosci
    .panel-body
        .row
            .col-sm-6 12 lutego 2014
            .col-sm-6 Aktualnosc
        .row
            .col-sm-12 Some text in the pannel
    ul.list-group
        li.list-group-item
            span.badge 12 lutego 2014
            Pierwsza aktualnosc
        li.list-group-item Druga aktualnosc