.panel.panel-default
    .panel-heading
        h3.panel-title Kalendarz
    .panel-body
        .row
            .col-sm-12 Kalendarz jest jeszcze w budowie...
    //        .col-sm-6 Rezerwacja
    //ul.list-group
    //    li.list-group-item
    //        span.badge 12 lutego 2014
    //        | Najblizszy wolny termin
    //    li.list-group-item Ogolny kalendarz