.panel.panel-default
    .panel-heading
        h3.panel-title Kalendarz
    .panel-body
        .row
            .col-sm-6 Dzien
            .col-sm-6 Rezerwacja
    ul.list-group
        li.list-group-item
            span.badge 12 lutego 2014
            | Najblizszy wolny termin
        li.list-group-item Ogolny kalendarz