#services
  .prices
    color green
    .panel
      background-color $primaryLighter
    .panel-default
      border-color $primaryDark
      .panel-heading
        background-color $primaryDark
        border-color $primaryDark
        color $primaryLighter
      .panel-body
        background-color $primaryLighter
        border-color $primaryDark
        color $primaryDark
      .list-group-item
        background-color $primaryLighter
        border-color $primaryDark
        color $primaryDark