.container
    .row
        .col-sm-8
            .panel.panel-default
                .panel-heading
                    h3.panel-title KSIĘGOWOŚĆ OD A DO Z:
                ul.list-group
                    li.list-group-item Zakładanie działalności gospodarczej : wybór formy opodatkowania, przygotowanie dokumentów
                    li.list-group-item Pełna obsługa rachunkowa:
                        ul
                            li Ryczałt od przychodów ewidencjonowanych
                            li Podatkowa księga przychodów i rozchodów
                            li Księga handlowa
                            li Prowadzenie ewidencji dla celów rozliczenia podatku od towarów i usług
        .col-sm-4
            .prices
                .panel.panel-default
                    .panel-heading
                        h3.panel-title CENNIK:
                    ul.list-group
                        li.list-group-item
                            strong Rozpoczęcie działalności
                            br
                            | stały 10 % rabat na usługi księgowe
                        li.list-group-item
                            strong Zmiana biura
                            br
                            | rabat negocjowany z klientem
                        li.list-group-item
                            strong Poleć biuro rachunkowe
                            br
                            | 5 % rabatu od dotychczasowej ceny za usługę
                        li.list-group-item
                            | Pobierz cennik&nbsp;
                            strong
                                a(href='assets/files/cennik.docx', target='_blank') tutaj
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title KADRY I PŁACE
                ul.list-group
                    li.list-group-item Pełna obsługa kadrowa
                    li.list-group-item Opieka z zakresu Prawa Pracy
                    li.list-group-item Rozliczanie czasu pracy
                    li.list-group-item Naliczanie wynagrodzeń
                .panel-heading
                    h3.panel-title SPRAWOZDAWCZOŚĆ I STATYSTYKA
                ul.list-group
                    li.list-group-item ZUS
                    li.list-group-item GUS
                    li.list-group-item INTRASTAT
                    li.list-group-item PFRON
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title INNE
                ul.list-group
                    li.list-group-item Przygotowywanie wniosków dotyczących form finansowania: kredyt, leasing, faktoring
                    li.list-group-item Wsparcie z zakresu sporządzania umów
                    li.list-group-item Raportowanie zgodne z indywidualnymi potrzebami klienta
                    li.list-group-item Reprezentowanie przed organami podatkowymi zgodnie z udzielonym pełnomocnictwem
                    li.list-group-item Przygotowywanie wniosków o wydanie interpretacji indywidualnych prawa podatkowego
                    li.list-group-item Pomoc w sporządzaniu kosztorysów w ramach dotacji unijnych
                    li.list-group-item Wypełnianie wniosków o zwrot podatku VAT za materiały budowlane