.container
    h1 Księgowość to umiejętność korzystania z przepisów dla dobra przedsiębiorstwa.
    p Dlatego dokładamy wszelkiej staranności do wykonywanych usług, by Klient zyskał coś więcej niż poprawne prowadzenie ustawowych ewidencji.

    h2 Zakres usług obejmuje prowadzenie:
    ul
        li podatkowej książki przychodów i rozchodów pkpir
        li ewidencji podatku ryczałtowego
        li księgi handlowej - pełna księgowość
        li ewidencji dodatkowych:
            ol
                li podatku VAT
                li środków trwałych i wartości niematerialnych i prawnych
                li dokumentacji podmiotów powiązanych
        li dokumentacji ZUS płatnika i ubezpieczonych
        li dokumentacji kadrowo-płacowej
        li rozliczeń rocznych PIT, CIT
        li rozliczeń transakcji zagranicznych WDT, WNT, EKSPORT, IMPORT
        li reprezentacji przed urzędem skarbowym, Zakładem Ubezpieczeń Społecznych
        li elektronicznej wysyłki dokumentów opatrzonych bezpiecznym podpisem kwalifikowanym

    h2 Ponadto udzielamy informacji w zakresie:
    ul
        li procedury założenia działalności gospodarczej - osób fizycznych, podmiotów prawnych
        li procedury rejestracji spółki z o.o. w systemie S24
        li obowiązków podatkowych i ewidencyjnych prowadzonej działalności
        li dokumentacji kadrowej i płacowej ubezpieczonych
        li sposobu wystawiania dokumentów sprzedaży
    br
    br

//h1 Księgowość od A do Z
//    p Zakładanie działalności gospodarczej : wybór formy opodatkowania, przygotowanie dokumentów.
//    p Pełna obsługa rachunkowa:
//    ul
//        li Ryczałt od przychodów ewidencjonowanych
//        li Podatkowa księga przychodów i rozchodów
//        li Księga handlowa
//        li Prowadzenie ewidencji dla celów rozliczenia podatku od towarów i usług
//
//    h1 Kadry i płace
//    ul
//        li Pełna obsługa kadrowa
//        li Opieka z zakresu Prawa Pracy
//        li Rozliczanie czasu pracy
//        li Naliczanie wynagrodzeń
//
//    h1 Sprawozdawczość i statystyka
//    ul
//        li ZUS
//        li GUS
//        li INTRASTAT
//        li PFRON
//
//    h1 Inne
//    ul
//        li Przygotowywanie wniosków dotyczących form finansowania: kredyt, leasing, faktoring
//        li Wsparcie z zakresu sporządzania umów
//        li Raportowanie zgodne z indywidualnymi potrzebami klienta
//        li Reprezentowanie przed organami podatkowymi zgodnie z udzielonym pełnomocnictwem
//        li Przygotowywanie wniosków o wydanie interpretacji indywidualnych prawa podatkowego
//        li Pomoc w sporządzaniu kosztorysów w ramach dotacji unijnych
//        li Wypełnianie wniosków o zwrot podatku VAT za materiały budowlane

    br
    br