.container
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Godziny pracy
                ul.list-group
                    li.list-group-item pn, śr, czw
                        strong &nbsp;10:00
                        | &nbsp;–
                        strong &nbsp;16:00
                    li.list-group-item wt, pt
                        strong &nbsp;10:00
                        | &nbsp;–
                        strong &nbsp;16:00
                    li.list-group-item Prosimy o kontakt telefoniczny celem umówienia spotkania.
            .contactDetails
                .panel.panel-default.inverse
                    .panel-heading
                        h3.panel-title Kontakt
                    ul.list-group
                        li.list-group-item
                            strong Adres
                            br
                            | Łódź, ul. Brukowa 6/8 II piętro lok. 204
                        li.list-group-item
                            strong Telefon
                            br
                            | 503414650
                        li.list-group-item
                            strong email
                            br
                            a(href='mailto:biuro@kowalska-stall.pl') biuro@kowalska-stall.pl
        .col-sm-6
            .thumbnail
                img(src='/assets/photos/map.png', alt='Mapa')
                .caption
                    h3 Mapa
                    p Lokalizacja biura