@font-face {
  font-family: "icons";
  src: url("../icons/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-regina-logo:before,
.icon-regina-logo-and-text:before,
.icon-regina-logo-round:before,
.icon-regina-logo-text:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-regina-logo:before { content: "\f110"; }
.icon-regina-logo-and-text:before { content: "\f111"; }
.icon-regina-logo-round:before { content: "\f112"; }
.icon-regina-logo-text:before { content: "\f113"; }