.btn-group(role='group', aria-label='editor')
    button.btn.btn-default.editorBold(type='button') B
    button.btn.btn-default.editorItalic(type='button') I
    button.btn.btn-default.editorUnderline(type='button') U
    button.btn.btn-default.editorParagraph(type='button') P
    button.btn.btn-default.editorH1(type='button') H1
    button.btn.btn-default.editorH2(type='button') H2
    button.btn.btn-default.editorH3(type='button') H3
    button.btn.btn-default.editorH4(type='button') H4
    button.btn.btn-default.editorOrderedList(type='button') OL
    button.btn.btn-default.editorUnorderedList(type='button') UL
