.container
    .row
        .col-sm-12
            h1 Zmiany w VAT w 2015 roku
        .col-sm-6
            p Ustawodawca przyzwyczaił podatników do niemalże cokwartalnych zmian przepisów w podatku VAT. Proponowane zmiany w 2015 roku mają wejść w życie 01 kwietnia 2015 i będą dotyczyć:
            h4 Ulga na złe długi
            p Ustawodawca planuje wyprostować kwestie, które budziły kontrowersje podatników w obecnym stanie prawnym, mianowicie:
            ul
                li Podmioty powiązane – w obecnym stanie prawnym podmioty powiązane, np. podmioty powiązane więzami rodzinnymi, nie mogły skorzystać z „ulgi”. Planowane zmiany uchylają ust. 7 art. 89a, w wyniku czego podmioty powiązane będą mogły skorzystać z tej procedury.
                li Podmioty w trakcie likwidacji lub postępowania upadłościowego – w chwili obecnej panuje asymetria, która podmiotom pokrzywdzonym nie pozwala na skorzystanie z „ulgi”, natomiast na dłużników nakłada obowiązek dokonania korekty. Zgodnie z planowaną nowelizacją podmioty w trakcie likwidacji czy postępowania upadłościowego zostaną zwolnione z obowiązku dokonania korekty podatku odliczonego.
            h4 Odwrotne obciążenie
            p Ustawodawca zamierza rozszerzyć krąg towarów podlegających procedurze odwrotnego obciążenia o elektronikę związaną ze sprzętem przenośnym tzn. laptopy, tablety, notebooki o wadze poniżej 10 kilogramów, telefony komórkowe, smartfony, konsole do gier video z wbudowanym elektronicznym wyświetlaczem.
        .col-sm-6
            p Procedurą odwrotnego obciążenia będą objęte transakcje jednolite gospodarczo, czyli dotyczące całościowo jednego zakupu o wartości powyżej 20 000,00 zł łącznie. Ponadto ustawodawca planuje wprowadzić obowiązek sporządzania krajowych informacji podsumowujących, których termin złożenia będzie upływał 25 dnia następnego miesiąca po miesiącu zakupu.
            h4 Współczynnik proporcji VAT
            p Współczynnik proporcji VAT Ustawodawca planuje skomplikować sposób ustalania współczynnika proporcji. Otóż współczynnik będzie trzeba ustalić w sposób najbardziej odpowiadający specyfice prowadzonej działalności gospodarczej, np. z uwzględnieniem powierzchni budynku odpowiadającej przychodom opodatkowanym i zwolnionym, ilości pracowników względem przychodu opodatkowanego i zwolnionego. Ponadto ustawodawca pozostawia sobie furtkę w postaci możliwości zakwestionowania wysokości współczynnika, jeżeli podatnik nie posiada zatwierdzonego protokołu ustalania sposobu proporcji przez naczelnika urzędu skarbowego, lub, gdy kontrolujący ustalą współczynnik odbiegający od przyjętego przez podatnika o 5 punktów.
            em Oczywiście trzymamy rękę na pulsie i będziemy na bieżąco informować o planowanych zmianach i ich ostatecznym kształcie na stronach naszego bloga.

    .row
        .col-sm-12
            h1 Masz 5 pracowników? Od 01 stycznia 2015 musisz wysłać PIT-11 elektronicznie
        .col-sm-6
            p Zgodnie z projektem Ministerstwa Finansów od 01 stycznia 2015 roku płatnicy zatrudniający 5 i więcej pracowników (nieistotny tytuł prawny) będą musieli przesłać PIT- 11 I PIT-4 w postaci elektronicznej do urzędu skarbowego. Natomiast formę przesyłki dla swoich pracowników będą mogli wybrać: forma papierowa lub elektroniczna. Z kolei płatnicy zatrudniający mniej niż 5 pracowników niezależnie od tytułu prawnego zawartej umowy będą mogli wysłać tak, jak do tej pory PIT-11 droga tradycyjną, czyli papierowo, ale ich termin zostanie skrócony do końca stycznia. Ponieważ 31 stycznia wypada w dzień wolny od pracy, będzie to 02 luty 2014. Jeżeli zdecydują się na wysyłkę elektroniczną będą mogli tak jak to tej pory zrealizować swój obowiązek do końca lutego, czyli z uwagi na dzień wolny od pracy, do dnia 02 marca 2014 roku.
            p Planowane jest uruchomienie specjalnej bramki, więcej informacji pod linkiem:
                a(href='https://test-ubd.mf.gov.pl/uslugi/dokumenty') &nbsphttps://test-ubd.mf.gov.pl/uslugi/dokumenty
                | .
            p Wysyłka elektroniczna wiąże się z koniecznością posiadania podpisu kwalifikowanego odpłatnego, bądź profilu zaufanego ePUAP.
        .col-sm-6
            p Ponadto należy pobrać aplikację e-DEKLARACJE ze strony Ministerstwa Finansów i odpowiednio skonfigurować program płacowy, ponieważ sama aplikacja nie jest kompatybilna z komercyjnymi programami – co z kolei wiąże się z dodatkowymi kosztami w postaci wynajęcia informatyka.W przeciwny razie każdy PIT-11 będzie musiał zostać pojedynczo wprowadzony i wysłany za pomocą aplikacji e-DEKLARACJE, co w przypadku dużych płatników będzie nastręczało niemałych problemów.
            p Analizując projekt należy stwierdzić, że rok 2015 rozpocznie się od niemałych trudności związanych z rozliczeniem pracowników za rok 2014, a tym samym bardzo nerwowego rozpoczęcia roku podatkowego.
            p Projekt jest częścią planu cyfryzacji urzędów skarbowych o czym w kolejnych artykułach.

    .row
        .col-sm-12
            h1 FISKUS WKRACZA W XXI WIEK – ALE CZY PODATNIK NADĄŻY? OBOWIĄZEK ZŁOŻENIA ELEKTRONICZNEGO ZEZNANIA
        .col-sm-6
            p Rządowy projekt ustawy o zmianie ustawy o podatku dochodowym od osób fizycznych zakłada wprowadzenie usługi PFR, czyli usługi wstępnie wypełnianych zeznań podatkowych dla podatników podatku dochodowego od osób fizycznych.
            p W związku z funkcjonowaniem nowego systemu e-PODATKI, opracowanego przez Ministerstwo Finansów, każdy podatnik otrzyma indywidualne konto, na którym znajdzie wstępnie wypełnione zeznanie PIT. Jeżeli podatnik uzna, że zeznanie jest prawidłowe wystarczy potwierdzić dane poprzez użycie ikonki „wyślij”. Jeżeli podatnik zechce skorzystać z ulg podatkowych bądź wspólnego rozliczenia z małżonkiem lub przekazanie 1 % podatku na rzecz organizacji pożytku publicznego, system PFR nie pozbawi go takiej możliwości, ale wówczas podatnik zmuszony będzie do samodzielnego wypełnienia rubryk w zeznaniu i zmierzenia się z tą trudnością w konsekwencji samodzielnie.
        .col-sm-6
            p Założenie przewiduje wprowadzenie systemu PFR dla podatników rozliczających się na PIT-37 od 2015 roku, natomiast dla podatników rozliczających się na PIT-36 i PIT-38 od 2016 roku. Taki sam obowiązek przewiduje się dla podatników rozliczających się na CIT-8 i zobowiązanych do składania informacji IFT-2.

    .row
        .col-sm-12
            h1 STANDARYZACJA FORMULARZY – UŁATWIENIEM W KONTAKCIE Z URZĘDEM
        .col-sm-6
            p Ustawa z dnia 24.04.2014 nałożyła na właściwe organy obowiązek określenia i&nbsp;
                strong udostępniania wzorów pism w formie dokumentów elektronicznych
                |.
            p Nowe regulacje zaczną obowiązywać od 25.12.2014 roku. Ujednolicone wzory pism będą dostępne na elektronicznej platformie usług administracji publicznej i w BIP każdego właściwego organu. Zakres dokumentów:
            ul
                li Wzory wniosków o zezwolenie na sprzedaż i wysprzedaż napojów alkoholowych
                li Wzór wniosku o udzielenie autoryzacji
                li Wzory wniosku o wpis do rejestru przechowawców oraz zaświadczenie o wpisie
                li Wzór wniosku o udzielenie zezwolenia na prowadzenie zbiorowego zaopatrzenia w wodę lub odprowadzania ścieków
                li Wzór zgłoszenia rozbiórki mniejszych obiektów budowlanych
                li Wzór wniosku o zmianie danych lub wykreślenie w rejestrze przedsiębiorców prowadzących stacje kontroli pojazdów
                li Wzór wniosku o zawieszeniu, przedłużeniu zawieszenia lub wykreśleniu z rejestru organizatorów turystycznych
                li Wzór wniosku wytwarzającego urządzenia techniczne oraz materiały i elementy stosowane do ich wytwarzania Wzór wniosku o wpis do rejestru organizatorów wyścigów konnych
                li Wzór wniosku o udzielenie pozwolenia na kierowanie stajnia wyścigową
        .col-sm-6
            ul
                li Wzór wniosku o udzielenie licencji na trenowanie koni
                li Wzór wniosku o udzielenie licencji na pełnienie funkcji sędziego wyścigowego
                li Wzór wniosku o wpis, o zmianę wpisu lub o wykreślenie z ewidencji zakładu leczniczego dla zwierząt
                li Wzór wniosku o wpis do rejestru przedsiębiorców, obejmującego podmioty prowadzące uprawę roślin, produktów roślinnych lub przedmiotów, które są szczególnie podatne na porażenie przez organizmy kwarantannowe; wytwarzanie, magazynowanie, pakowanie, sortowanie lub dokonujące ich wprowadzenia bądź przemieszczania na terytorium RP
                li Wzór wniosku o wpis, zmianę danych, zmianę licencji do rejestru statków rybackich
                li Wzór wniosku o wydanie oraz zmianę pozwoleń na połowy organizmów morskich w polskich obszarach morskich w celach naukowo-badawczych albo szkoleniowych
                li Wzór wniosku o sportowe zezwolenie połowowe oraz zmianę tego pozwolenia Wzór wniosku o wydanie zezwolenia na prowadzenie punktów aptecznych
            p Podsumowując samo założenie planu cyfryzacji urzędów stanowi udogodnienie, ale problem tkwi w szczególe, mianowicie sposobie wprowadzenia, bazując na ostatnich doświadczeniach, należy uzbroić się w silne nerwy i duża dozę cierpliwości.

    .row
        .col-sm-12
            h1 CHCESZ WYSOKI ZASIŁEK? ŚPIESZ SIĘ.
            h3 Koniec z wysokim zasiłkiem dla przedsiębiorczych kobiet w ciąży
        .col-sm-6
            p Od 2015 roku zniknie luka pozwalająca kobietom w ciąży na zakładanie firmy miesiąc przed porodem i uzyskanie wysokiego zasiłku. Do tej pory wystarczyło zarejestrować firmę i wskazać najwyższą podstawę składek zus, aby otrzymać zasiłek macierzyński przekraczający 6000 zł na miesiąc. Była to luka w prawie pozwalająca skorzystać z zasiłku macierzyńskiego już po opłaceniu pierwszej składki.
            p Ta możliwość ma obowiązywać jedynie do końca 2014 roku. Zgodnie z zapowiadanymi zmianami od początku 2015 roku zacznie obowiązywać ustawa zmieniające obecną ustawę o świadczeniach pieniężnych z ubezpieczenia społecznego w razie choroby i macierzyństwa. Proponowane zmiany zakładają nowy sposób wyliczania podstawy zasiłku.
        .col-sm-6
            p Otóż dla kobiet prowadzących działalność krócej niż 12 miesięcy podstawa ma zależeć od wysokości i liczby opłaconych składek. Zatem opłacona składka powyżej podstawowej będzie podlegała przeliczeniu proporcjonalnemu względem 12 miesięcy. W ten sposób zlikwidowana zostanie okazja na opłacenie jednej podwyższonej składki, która pozwalała na pobieranie zasiłku od tej podstawy.
            p Projekt został zaakceptowany prze Radę Ministrów i znajduje się w fazie konsultacji. Zatem wszyscy zainteresowani skorzystaniem z możliwości jakie dają jeszcze obowiązujące przepisy powinni się śpieszyć.

    .row
        .col-sm-12
            h1 ZMIANY 2015 – RYCZAŁT OD UŻYTKOWANIA SŁUŻBOWYCH AUT
        .col-sm-6
            p Resort Finansów planuje wprowadzić od&nbsp;
                strong 01.01.2015&nbsp;
                |roku zmiany w zakresie rozliczania podatku dochodowego z tyt. użytkowania samochodu służbowego do celów prywatnych.
            p W chwili obecnej przedsiębiorcy niejednokrotnie stoją przed dylematem jak prawidłowo określić wartość rynkową takiego świadczenia.
        .col-sm-6
            p Dlatego Ministerstwo proponuje jednoznacznie określić wartość poprzez &nbsp;
                strong uzależnienie wysokości przychodu miesięcznego uzyskiwanego przez pracownika od pojemności silnika użytkowanego samochodu służbowego.
            p W związku z powyższym pozostaje czekać na ostateczne decyzje.

    .row
        .col-sm-12
            p &nbsp;