.panel.panel-default
    .panel-heading
        h3.panel-title Aktualności
    ul.list-group
        li.list-group-item
            .row
                .col-sm-12
                    .h4 Otwarcie biura
                        span.badge 12 września 2014
                .col-sm-12 Dzisiaj uroczyscie oglaszamy otwarcie biura rachunkowego
                    strong &nbsp;Reginy Kowalskiej-Stall
                    | .
