#newsWidget
  .panel
    background-color $primaryLight
  .panel-default
    border-color $primaryDark
  .panel-heading
    background-color $primaryLighter
    border-color $primaryDark
    color $primaryDark
  .panel-body
    color $primaryDark
  .list-group-item
    background-color $primaryLight
    border-color $primaryDark
    color $primaryDark
  .badge
    background-color $primary
    color $primaryLighter
    float right

