.panel.panel-default
    .panel-heading
        h3.panel-title Aktualności
    .panel-body
        .row
            .col-sm-6 12 lutego 2014
            .col-sm-6 Aktualnosc
        .row
            .col-sm-12 Some text in the pannel
    ul.list-group
        li.list-group-item
            .row
                .col-sm-12
                    .h4 Pierwsza aktualnosc
                        span.badge 12 lutego 2014
                .col-sm-12 Pa asdlfja;sld fa;lksdj f;lajsd f;lkajsd f;lkajs d;lkfaj sdlkfasdf kjwelkjfwe jlkej rlktj lekj jer tlkej diou
        li.list-group-item
            .row
                .col-sm-12
                    .h4 Pierwsza aktualnosc
                        span.badge 12 lutego 2014
                .col-sm-12 Pa asdlfja;sld fa;lksdj f;lajsd f;lkajsd f;lkajs d;lkfaj sdlkfasdf kjwelkjfwe jlkej rlktj lekj jer tlkej diouxvcijk elkjr iojel rj lkje rtlierj lke erjlktj elijdfliguid jgflkjerj lkejt liej gdkfjlkjg djie ljekrj kletj lkej
        li.list-group-item Druga aktualnosc