h1 Aktualnosci
.row
    .newsWidgetRow
        .date.col-sm-4 15 marca 2014
        .topic.col-sm-8 Wazny news nr jeden
        .content.col-sm-12 No i strsznie dluga tresc pierwszego superowego newsa na naszej wyskakujacej z orbity stronie internetowej Biura Rachunkowego Reginy Kowalskiej-Stall krolowej ksiegowosci, reginy biznesu.
        .clearfix
.row
    .newsWidgetRow
        .date.col-sm-4 15 marca 2014
        .topic.col-sm-8 Wazny news nr jeden
        .content.col-sm-12 No i strsznie dluga tresc pierwszego superowego newsa na naszej wyskakujacej z orbity stronie internetowej Biura Rachunkowego Reginy Kowalskiej-Stall krolowej ksiegowosci, reginy biznesu.
        .clearfix
.row
    .newsWidgetRow
        .date.col-sm-4 15 marca 2014
        .topic.col-sm-8 Wazny news nr jeden
        .content.col-sm-12 No i strsznie dluga tresc pierwszego superowego newsa na naszej wyskakujacej z orbity stronie internetowej Biura Rachunkowego Reginy Kowalskiej-Stall krolowej ksiegowosci, reginy biznesu.
        .clearfix
.row
    .newsWidgetRow
        .date.col-sm-4 15 marca 2014
        .topic.col-sm-8 Wazny news nr jeden
        .content.col-sm-12 No i strsznie dluga tresc pierwszego superowego newsa na naszej wyskakujacej z orbity stronie internetowej Biura Rachunkowego Reginy Kowalskiej-Stall krolowej ksiegowosci, reginy biznesu.
        .clearfix