$white = #fff
$black = #000
$black10 = #E5E5E5 /*rgba(0,0,0,0.1)*/
$black20 = #CCCCCC /*rgba(0,0,0,0.2)*/
$black30 = #B2B2B2 /*rgba(0,0,0,0.3)*/
$black40 = #999999 /*rgba(0,0,0,0.4)*/
$black50 = #7F7F7F /*rgba(0,0,0,0.5)*/
$black60 = #666666 /*rgba(0,0,0,0.6)*/
$black70 = #4C4C4C /*rgba(0,0,0,0.7)*/
$black80 = #333333 /*rgba(0,0,0,0.8)*/
$black90 = #191919 /*rgba(0,0,0,0.9)*/
$orange = #ff6733
$faintRed = #DB7777
$red = #DF0000
$gray = #808080
$gray1 = #504F49


$background = $white
$backgroundDark = $black10
$backgroundLight = $white

$primary = $black60
$primaryDark = $black70
$primaryDarker = $black80
$primaryLight = $black50
$primaryLighter = $black10

$secondary = $red
$secondaryDark = #D20000
$secondaryDarker = #BA0000
$secondaryLight = #FF5454
$secondaryLighter = #FF9B9B

$secondary50 = rgba(223, 0, 0, 0.5)

