body
  background-color $background
  color $primaryDark
  font-size 16px
  font-weight 200
  padding-top 70px

a, a:hover, a:active, a:link
  color $primary

.container
  max-width 940px

.panel
  background-color $background
.panel-default
  border-color $primaryLight
  .panel-heading
    background-color $primaryLight
    border-color $primaryLight
    color $background
  .panel-body
    background-color transparent
    border-color $primaryLight
    color $primaryDark
  .list-group-item
    background-color transparent
    border-color $primaryLight
    color $primaryDark
  .badge
    background-color $primaryLight
    color $background
    float right

.panel.inverse
  background-color $primaryLighter
.panel-default.inverse
  border-color $primary
  .panel-heading
    background-color $primary
    border-color $primary
    color $primaryLighter
  .panel-body
    background-color $primaryLighter
    border-color $primary
    color $primary
  .list-group-item
    background-color $primaryLighter
    border-color $primary
    color $primary
  .badge
    background-color $primary
    color $primaryLighter
    float right

.thumbnail
  background-color $primaryLight
  border 1px solid $primaryLight
  color $background
  .caption
    color $background