body
  background-color $secondaryDarker
  color $primaryDark
  font-size 16px
  font-weight 200

a, a:active, a:link
  color $primary

a:hover
  color $secondary

.container
  max-width 940px

.panel
  background-color $background
.panel-default
  border-color $primaryDark
  .panel-heading
    background-color $primaryDark
    border-color $primaryDark
    color $background
  .panel-body
    background-color transparent
    border-color $primaryDark
    color $primaryDark
  .list-group-item
    background-color transparent
    border-color $primaryDark
    color $primaryDark
  .badge
    background-color $primaryDark
    color $background
    float right

.panel.inverse
  background-color $secondaryLighter
.panel-default.inverse
  border-color $secondary
  .panel-heading
    background-color $secondary
    border-color $secondary
    color $secondaryLighter
  .panel-body
    background-color $secondaryLighter
    border-color $secondary
    color $secondary
  .list-group-item
    background-color $secondaryLighter
    border-color $secondary
    color $secondary
  .badge
    background-color $secondary
    color $secondaryLighter
    float right

.thumbnail
  background-color $primaryLight
  border 1px solid $primaryLight
  color $background
  .caption
    color $background