body
  background-color $primary
  color $primaryDark
  font-size 16px
  font-weight 200
  padding-top 70px


.panel
  background-color $primaryLight
.panel-default
  border-color $primaryDark
  .panel-heading
    background-color $primaryLighter
    border-color $primaryDark
    color $primaryDark
  .panel-body
    background-color $primaryLight
    border-color $primaryDark
    color $primaryDark
  .list-group-item
    background-color $primaryLight
    border-color $primaryDark
    color $primaryDark
  .badge
    background-color $primary
    color $primaryLighter
    float right

.thumbnail
  background-color $primaryDark
  border 1px solid $primaryDark
  color $primaryLight
  .caption
    color $primaryLight