.container
    .row
        .col-sm-6
            .row
                .col-sm-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title O mnie
                        ul.list-group
                            li.list-group-item Księgowością zajmuję się od
                                strong &nbsp;2008&nbsp;
                                | roku.
                            li.list-group-item Posiadam doświadczenie w obsłudze osób fizycznych rozliczających się w formie podmiotów jednoosobowych, spółek osób fizycznych oraz podmiotów prawnych, reprezentujących zarówno działalność produkcyjną jak i handlową.
                            li.list-group-item Specjalizuje się w obsłudze kadrowo-płacowej małych i dużych przedsiębiorstw.
                            li.list-group-item Wiedza i doświadczenie poparte są
                                strong &nbsp;Certyfikatem Ministerstwa Finansów
                                | .
                            li.list-group-item Ponadto w celu podnoszenia kwalifikacji, a tym samym jakości świadczonych usług oraz stałej współpracy z najlepszymi specjalistami w branży biuro jest członkiem
                                strong &nbsp;Stowarzyszenia Księgowych w Polsce&nbsp;
                                | &nbsp;– najstarszej i największej polskiej organizacji skupiającej przedstawicieli środowiska zawodowego związanego z rachunkowością.
                .col-sm-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Certyfikaty
                        ul.list-group
                            li.list-group-item
                                .row
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/certyfikatMini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Certyfikat
                                                p Certyfikat Ministerstwa Finansów
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/polisaPzuMini.jpg', alt='Polisa')
                                            .caption
                                                h3 Polisa
                                                p Polisa PZU
                                .row
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/certyfikat2Mini.jpg', alt='Szkolenie')
                                            .caption
                                                h3 Szkolenie
                                                p Biznesplan dla przedsiębiorców
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/certyfikat3Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Kurs
                                                p Podstawy księgowości
                                .row
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/certyfikat4Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Kurs
                                                p Zakładanie i prowadzenie działalności gospodarczej
                                    .col-sm-6
                                        .thumbnail
                                            img(src='assets/photos/certyfikat5Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Członkostwo
                                                p Stowarzyszenie księgowych w Polsce
        .col-sm-6
            .thumbnail
                img(src='assets/photos/reginaMini.jpg', alt='Regina Kowalska-Stall')
                .caption
                    h3 Regina Kowalska-Stall
                    p Wlasciciel
