.container
    h1 O firmie

    p Posiadamy doświadczenie w obsłudze osób fizycznych rozliczających się w formie podmiotów jednoosobowych, spółek osób fizycznych oraz podmiotów prawnych, reprezentujących zarówno działalność produkcyjną jak i handlową.
    p Specjalizujemy się w obsłudze kadrowo-płacowej małych i dużych przedsiębiorstw.
    p Wiedza i doświadczenie poparte są Certyfikatem Ministerstwa Finansów.
    p Ponadto w celu podnoszenia kwalifikacji, a tym samym jakości świadczonych usług oraz stałej współpracy z najlepszymi specjalistami w branży, biuro jest członkiem Stowarzyszenia Księgowych w Polsce  – najstarszej i największej polskiej organizacji skupiającej przedstawicieli środowiska zawodowego związanego z rachunkowością.
    br
    br

    .row
        .col-sm-12
            .row
                .col-sm-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Certyfikaty
                        ul.list-group
                            li.list-group-item
                                .row
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/certyfikatMini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Certyfikat
                                                p Certyfikat Ministerstwa Finansów
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/polisaPzuMini.jpg', alt='Polisa')
                                            .caption
                                                h3 Polisa
                                                p Polisa PZU
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/certyfikat2Mini.jpg', alt='Szkolenie')
                                            .caption
                                                h3 Szkolenie
                                                p Biznesplan dla przedsiębiorców
                                .row
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/certyfikat3Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Kurs
                                                p Podstawy księgowości
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/certyfikat4Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Kurs
                                                p Zakładanie i prowadzenie działalności gospodarczej
                                    .col-sm-4
                                        .thumbnail
                                            img(src='/assets/photos/certyfikat5Mini.jpg', alt='Certyfikat')
                                            .caption
                                                h3 Członkostwo
                                                p Stowarzyszenie księgowych w Polsce
        //.col-sm-6
        //    .thumbnail
        //        img(src='assets/photos/reginaMini.jpg', alt='Regina Kowalska-Stall')
        //        .caption
        //            h3 Regina Kowalska-Stall
        //            p Wlasciciel
