#promotionsWidget
  font-size 1em
  .badge
    font-weight normal
  .receiver
    font-size 0.9em
    margin-top 15px
  .discount
    font-size 0.9em
  .conditions
    font-size 0.7em
    margin-top 10px

