.panel.panel-default
    .panel-heading
        h3.panel-title Promocje
    ul.list-group
        //li.list-group-item
        //    .row
        //        .col-sm-12
        //            .h4 Świąteczny prezent
        //                span.badge 1.12.2014 - 31.1.2015
        //        .col-sm-12 Zostań naszym Klientem, a otrzymasz gwiazdkowy prezent w postaci karty podarunkowej.
        //        .col-sm-12.receiver
        //            b Odbiorca: &nbsp;
        //            span Klient zawierający umowę w okresie trwania promocji
        li.list-group-item
            .row
                .col-sm-12
                    .h4 Marzysz już o wakacjach?
                .col-sm-12 Początki zawsze są trudne i kosztowne, dlatego przedsiębiorcy, którzy rozpoczną swój biznes z naszym biurem przez pierwsze dwa miesiące płacą 50% ceny.
                .col-sm-12.receiver
                    b Odbiorca: &nbsp;
                    span Klient rozpoczynający działalność
                .col-sm-12.discount
                    b Rabat: &nbsp;
                    span 50% przez pierwsze dwa miesiące współpracy
                .col-sm-12.conditions Promocja nie dotyczy ksiąg rachunkowych.
                //Obowiązuje w pierwszym roku prowadzenia działalności przez Klienta.

        li.list-group-item
            .row
                .col-sm-12
                    .h4 Zmieniasz księgową?
                .col-sm-12 Obecna obsługa księgowa nie spełnia Twoich oczekiwań. Jesteś niezadowolony z pracy Twojej księgowej. Wymień dotychczasową księgową na nasze biuro i zyskaj 50% rabatu na pierwszy miesiąc współpracy.
                .col-sm-12.receiver
                    b Odbiorca: &nbsp;
                    span Klient zmieniający biuro
                .col-sm-12.discount
                    b Rabat: &nbsp;
                    span 50% w pierwszym miesiącu współpracy
                .col-sm-12.conditions Promocja nie dotyczy ksiąg rachunkowych.
