.footer
    .container
        .row
            .col-xs-4.col-sm-1.col-md-1
                .footerLogo(class='icon-regina-logo')
            .col-xs-8.col-sm-5.col-md-5.footerBrand
                h4 Regina Kowalska-Stall
                | Kompleksowa Księgowość
            .col-xs-12.col-sm-6.col-md-6
                strong Adres
                | :&nbsp;Łódź, ul. Brukowa 6/8 II piętro lok. 204
                br
                strong Telefon
                | :&nbsp;503414650
                br
                strong Email
                | :&nbsp;
                a(href='mailto:biuro@kowalska-stall.pl') biuro@kowalska-stall.pl