.footer
    .container
        .row
            .col-xs-2
                .footerLogo(class='icon-regina-logo')
            .col-xs-4
                | Regina Kowalska-Stall
                br
                | Kompleksowa Ksiegowosc
            .col-xs-6
                | Adres: Łódź, ul. Brukowa 6/8 II piętro lok. 204
                | Tel. 503414650
                | e-mail: biuro@kowalska-stall.pl