#footer
  /*bottom 0*/
  /*position absolute*/
  /*width 100%*/
  .footer
    background-color $primaryDark
    color $primaryLight
    margin-bottom 0
    padding-top 1em
    padding-bottom 1em
    .footerLogo
      font-size 3em
    .footerBrand
      margin-bottom 20px
