.footer
    .container
        .row
            .col-xs-1
                .footerLogo(class='icon-regina-logo')
            .col-xs-5
                h4 Regina Kowalska-Stall
                | Kompleksowa Ksiegowosc
            .col-xs-6
                strong Adres
                | :&nbsp;Łódź, ul. Brukowa 6/8 II piętro lok. 204
                br
                strong Telefon
                | :&nbsp;503414650
                br
                strong email
                | :&nbsp;biuro@kowalska-stall.pl