#footer
  bottom 0
  left 0
  position fixed
  width 100%
  z-index 1
  .footer
    /*background-color $primary*/
    color $secondaryLight
    margin-bottom 0
    padding-top 1em
    padding-bottom 1em
    .footerLogo
      font-size 3em
    .footerBrand
      margin-bottom 20px
  a
    color $primaryLighter