.topNavBanner
    .container
        .row
            .col-sm-1.topNavLogoPlaceholder
                div.topNavLogo
                    span.icon-regina-logo
            .col-sm-2.topNavLogoPlaceholder
                div.topNavLogoText
                    span.icon-regina-logo-text
            .col-sm-9.topNavSlogan
                div.img-rounded Profesjonalne usługi księgowe i kadrowe

.topNavAffix

.navbar.navbar-inverse(role='navigation', data-spy='affix', data-offset-top='365')
    .topNavImage
        .container
            .row
                .col-sm-4
                .col-sm-8.topNavImageTextPlaceholder
                    .topNavImageText.img-rounded Łódzkie Biuro księgowe
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#topNavCollapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navigationItem.navbar-brand.logoMini(href='glowna')
                span.icon-regina-logo
        #topNavCollapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right.topNavItems
                li
                    a.navigationItem.img-rounded(href='omnie')
                        span.glyphicon.glyphicon-briefcase(aria-hidden='true')
                        | &nbsp;&nbsp;O firmie
                li
                    a.navigationItem.img-rounded(href='uslugi')
                        span.glyphicon.glyphicon-th-list(aria-hidden='true')
                        | &nbsp;&nbsp;Usługi
                li
                    a.navigationItem.img-rounded(href='wiadomosci')
                        span.glyphicon.glyphicon-list-alt(aria-hidden='true')
                        | &nbsp;&nbsp;Wiadomości
                li
                    a.img-rounded(href='/assets/files/cennik.pdf', target='_blank')
                        span.glyphicon.glyphicon-credit-card(aria-hidden='true')
                        | &nbsp;&nbsp;Cennik
                li
                    a.navigationItem.img-rounded(href='kontakt')
                        span.glyphicon.glyphicon-earphone(aria-hidden='true')
                        | &nbsp;&nbsp;Kontakt


                //li.visible-sm.visible-md.visible-lg
                //    a(href='#') Kalendarz spotkań
                //li.visible-sm.visible-md.visible-lg
                //    a(href='#') Aktualności
                //li.dropdown.hidden-sm.hidden-md.hidden-lg
                //    a.dropdown-toggle(href='#', data-toggle='dropdown') Wiecej
                //        span.caret
                //    ul.dropdown-menu(role='menu')
                //        li
                //            a(href='#') Kalendarz spotkań
                //        li.divider
                //        li
                //            a(href='#') Aktualności
    //.topNavImage
    //    img(src='assets/photos/pen.png')