doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Regina Kowalska-Stall, Biuro Rachunkowe')
        meta(name='keywords', content='biuro rachunkowe, regina kowalska-stall')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/style.css', rel='stylesheet', type='text/css')
    body
        #skeletonContainer
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='assets/js/application.js')